.status {
	margin-left: -50px;

}

.video-detail {
	margin-top: 20px;
}

{/* HOVER CURSOR IS IMPORTANT, DONT FORGET IT */}

.list-group-item {
	cursor: pointer;
}
.list-group-item:hover{
	background-color: #e54444;
}